@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.card-service {
  position: relative;
  overflow: hidden;
  height: 290px;
  background-color: $gray;
  color: $white;
  margin: 0;
  .visible {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 130px 60px;
    grid-template-areas:
      'head'
      'logo'
      'link';

    .head {
      padding: 1em 0;
      grid-area: head;
      color: $white;
      h1,
      h3 {
        text-align: center;
        color: $white;
        text-transform: initial;
      }
      h1 {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 1.1rem;
      }
    }
    .logo-service {
      grid-area: logo;
      text-align: center;
      display: flex;
      align-items: center;
      background: $green;
      .thumb-service {
        margin: 0 auto 1em;
        width: 100%;
        max-height: 80px;
        max-width: 80px;
        padding: 0;
      }
    }

    .link-service {
      z-index: 1;
      grid-area: link;
      display: flex;
      align-items: center;
      align-content: center;
      font-size: 0.9rem;
      text-transform: uppercase;
      background: $gray;
      color: $white;
      text-align: center;
      padding: 0.5em;

      .link-service-content {
        display: block;
        margin: 0 auto;
      }

      .fa {
        color: $white;
      }

      &:hover {
        color: $green;

        .fa {
          animation: wobble 0.5s;
        }
      }

      .service-title {
        font-size: 14px;
        margin: 0.5em 0;
        text-transform: uppercase;
      }
    }
  }

  .desc-service {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    position: absolute;
    background: $gray !important;
    color: $white;
    padding: 0.5em;
    display: flex;
    align-items: center;
    height: 0;
    .content {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      height: 0;
    }
    .page-description {
      padding: 1em;
      background: $gray;
      color: $white;
      font-size: 0.9rem;
      text-align: justify;
    }

    .link-more {
      color: $green;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem;
      margin-top: 0.3rem;
      display: block;
      text-align: right;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:hover .desc-service {
    transform: translateY(-200px);
    --webkit-transform: translateY(-200px);
    height: 140px;
    .content {
      height: 140px;
    }
  }
}
