
$white: #fff !default;
$gray-100: #eef0f0 !default;
$gray-200: #e9e9e9 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #d87082 !default;
$red: #cd485f !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #b9cd00 !default;
$gray: rgb(90, 105, 107) !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;