// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $green,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$blog-container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 940px,
  xl: 1000px,
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu/ubuntu-r-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu/ubuntu-b-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu/ubuntu-b-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu/ubuntu-bi-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu/ubuntu-bi-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'geomanistlight';
  src: url('../fonts/geomanist/geomanist-light-webfont.eot');
  src: url('../fonts/geomanist/geomanist-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/geomanist/geomanist-light-webfont.woff2') format('woff2'),
    url('../fonts/geomanist/geomanist-light-webfont.woff') format('woff'),
    url('../fonts/geomanist/geomanist-light-webfont.ttf') format('truetype'),
    url('../fonts/geomanist/geomanist-light-webfont.svg#geomanistregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geomanistbook';
  src: url('../fonts/geomanist/geomanist-book-webfont.eot');
  src: url('../fonts/geomanist/geomanist-book-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/geomanist/geomanist-book-webfont.woff2') format('woff2'),
    url('../fonts/geomanist/geomanist-book-webfont.woff') format('woff'),
    url('../fonts/geomanist/geomanist-book-webfont.ttf') format('truetype'),
    url('../fonts/geomanist/geomanist-book-webfont.svg#geomanistregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geomanistmedium';
  src: url('../fonts/geomanist/geomanist-medium-webfont.eot');
  src: url('../fonts/geomanist/geomanist-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/geomanist/geomanist-medium-webfont.woff2') format('woff2'),
    url('../fonts/geomanist/geomanist-medium-webfont.woff') format('woff'),
    url('../fonts/geomanist/geomanist-medium-webfont.ttf') format('truetype'),
    url('../fonts/geomanist/geomanist-medium-webfont.svg#geomanistregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geomanistbold';
  src: url('../fonts/geomanist/geomanist-bold-webfont.eot');
  src: url('../fonts/geomanist/geomanist-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/geomanist/geomanist-bold-webfont.woff2') format('woff2'),
    url('../fonts/geomanist/geomanist-bold-webfont.woff') format('woff'),
    url('../fonts/geomanist/geomanist-bold-webfont.ttf') format('truetype'),
    url('../fonts/geomanist/geomanist-bold-webfont.svg#geomanistregular')
      format('svg');
  font-weight: bold;
  font-style: normal;
}

@import './fonts.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';


html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

p {
  margin-bottom: 1.6em;
}

a,
a h1 {
  transition: color 0.3s ease-out, background 0.3s ease-in;
}
img {
  padding-bottom: 10px;
  margin-bottom: 1.6em;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

h1,
h2,
h3,
h4 {
  font-family: 'geomanistmedium';
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  color: $gray;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0.1rem 0 0.5rem;

  &.underlined {
    text-transform: uppercase;
    width: auto;
    display: inline-block;
    margin-bottom: 1em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      display: block;
      bottom: -8px;
      right: 1px;
      border-bottom: 4px solid $green;
    }
  }
}

h2 {
  font-size: 1.6rem;
  color: $green;
}
.text-white h2,
.text-white a,
.bg-gray h3 {
  color: $white;
}
.text-white a:hover {
  text-decoration: underline;
}

h3 {
  color: $gray;
  font-size: 1.3rem;
}

.intro {
  font-family: 'geomanist', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1em;
  .green-txt {
    color:$green;
    margin-top: .6em;
  }
  h1 {
    text-transform: none;
    margin-bottom: 0;
  }
}
// accordion for faq
.accordion {
  & > .question i:before,
  & > .question i:after {
    transition: all 0.25s ease-in-out;
  }
  .question {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0.5rem;
    border-top: 1px dotted $green;
    & i {
      position: absolute;
      transform: translate(-6px, 0);
      margin-top: 2px;
      right: 5px;
      &:before,
      &:after {
        content: '';
        position: absolute;
        background-color: $green;
        width: 3px;
        height: 16px;
      }
      &:before {
        transform: translate(2px, 0) rotate(45deg);
      }
      &:after {
        transform: translate(2px, 0) rotate(-45deg);
      }
    }
    & input[type='checkbox'] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 2em;
      z-index: 1;
      opacity: 0;
      right: -5px;
      &:checked ~ p {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        padding: 0;
        transform: translate(0, 50%);
      }
      &:checked ~ i:before {
        margin-top: 9px;
        height: 9px;
        transform: translate(2px, 0) rotate(45deg);
      }
      &:checked ~ i:after {
        margin-top: 9px;
        height: 9px;
        transform: translate(-2px, 0) rotate(-45deg);
      }
    }
  }
  h3 {
    color: $green;
    margin: 0;
    font-size: 1.2rem;
  }
  .faq-content {
    margin-bottom: 0.5rem;
    // background: $gray-100;
    padding: 1rem;
    // border-radius: 1em;
  }
}

.services {
  padding: 1.5em 0;
  margin-bottom: 3em;
  background: $gray-200;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    @media (max-width: 990px) {
      grid-gap: 2em;
      grid-template-columns: 50% 50%;
    }
    @media (max-width: 600px) {
      grid-gap: 1em;
      grid-template-columns: 100%;
    }
  }
}

.articles,
.questions {
  margin-top: 2em;
  margin-bottom: 5em;
}

.btn-primary {
  text-transform: uppercase;
  color: $white;
}

.photo {
  .gatsby-resp-image-wrapper {
    margin-top: 2rem;
  }
  img,
  .gatsby-resp-image-background-image {
    border-radius: 50%;
    box-shadow: none !important;
    height: auto !important;
  }
}

.bg-gray {
  background-color: $gray;

  .fa {
    color: $green;
  }
}

.gafam-box .fa {
  margin-top: 3rem;
}

#free-software {
  .lead li {
    margin: 1em auto;
  }
}

#educ-pop {
  padding: 11em 0 0 0 !important;
  min-height: 800px;
  color: $white;

  .section-heading {
    margin-top: 1em;
  }
}
section {
  padding: 30px 0 !important;
}
.rss-link {
  margin: 8px 0 0 0;
  display: inline-block;
}

.navbar-toggler {
  font-family: 'geomanistbook';
  color: $gray;
  font-weight: bolder;
}
ul {
  padding:0 0 0 1rem;
}
a {
  color : $green;

  &:hover {
    color : $green;
  }
}
.questions a:hover, .page-content a:hover{
  text-decoration: underline;
}