@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

section {
  padding: 100px 0;

  &.jumboimage {
    background-size: cover;
    background-position: center;

    h1 {
      color: $white;
      font-weight: 700;
      text-shadow: 0px 1px 8px rgba(100, 100, 100, 0.3);
    }
  }

  hr {
    border-color: $red;
    border-width: 3px;
    max-width: 50px;

    &.light {
      border-color: $white;
    }
  }

  .section-heading {
    font-family: 'geomanistmedium';
    text-transform: uppercase;
  }
  .main-text .lead {
    margin:2em 0;
  }

  .gafam-box {
    i {
      font-size: $display4-size;
      margin-bottom: 20px;

      &[data-emergence='visible'] {
        opacity: 1;
        animation: bounceIn 2s;
      }

      &[data-emergence='hidden'] {
        opacity: 0;
      }
    }
  }

  .slide-left {
    &[data-emergence='visible'] {
      opacity: 1;
      animation: slideInLeft 1s;
    }

    &[data-emergence='hidden'] {
      opacity: 0;
    }
  }

  .slide-right {
    &[data-emergence='visible'] {
      opacity: 1;
      animation: slideInRight 1s;
    }

    &[data-emergence='hidden'] {
      opacity: 0;
    }
  }

  .slide-up {
    &[data-emergence='visible'] {
      opacity: 1;
      animation: bounceInUp 1s;
    }

    &[data-emergence='hidden'] {
      opacity: 0;
    }
  }
}
