@import '../../sass/colors.scss';
@import '../../sass/fonts.scss';

.img-bandeau-don {
  margin-bottom: 0;
  padding-bottom: 0;
  &:hover {
    -webkit-animation: none;
    animation: none;
  }
}
#archipel-colibris {
  height: 40px;
  background: $gray;

  .islands__toggle-label {
    margin-bottom: 0;
    display: none;
  }
  
  .archipel {
    background: $gray;
    color: $white;
    font-family: "geomanistlight", sans-serif;

    .social-links {
      margin: 0;
      li {
        margin: 0 0 0 1.5em;
      }
    }

    .islands__list {
      background: $gray;
    }

    a.current,
    a:hover {
      color: $green;
      text-decoration: none;
    }
  }
}

@media (max-width:990px) {
  #archipel-colibris {
    height: 32px;
  }
}
@media (max-width:800px) {
  #islands__list {
    display:none;
  }
}